footer{
    background-color: #051B38;
    color: #fff;
    padding: 1%;
    font-size: 1.5em;
}


footer {
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
footer h2 {
    margin-top: 7%;
}
