.video-section .pattern-overlay {
    background-color: rgba(5, 27, 56, 0.76);
    padding-top: 110px;
    min-height: 600px;
}
.video-section h1, .video-section h3{
    text-align:center;
    color:#fff;
}

.video-section h1{
    font-size: 7em; /*font-size: 1.2em;*/
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000;
}

.video-section h3{
    font-size: 25px;
    font-weight:lighter;
}

.video-section .buttonBar{display:none;}

.player {font-size: 1px;}
/*.player {
    font-size: 1em;
    font-family: 'Buenard', serif;
    font-weight: bold;
}
*/
.video-section form {
    margin: 1em auto;
}

.video-section button {
    margin: 1em auto;
    background: #c24e4b;
    border: 0;
    padding: .6em;
    color: #FFF;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: bold;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0.2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
    box-shadow: 0.2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}